---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Greeting from "../components/react/Greeting.jsx";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<BaseLayout pageTitle="Home Page">
  <h2>My awesome blog subtitle</h2>
  <Greeting client:load messages={["Hello", "Goodbye", "Aloha"]} />
</BaseLayout>
